html {
    background-color: #111;
    height: 100%;
    width: 100%;
}
#loginContainer {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    backdrop-filter: blur(50px);
    box-shadow: 0px 10px 20px 10px #00000090;
    background-color: #a0a0a010; 
    border-radius: 5px;
    z-index: 2;
}

#loginContainer form {
    display: flex;
    flex-direction: column;
}

#loginContainer h1 {
    color: white;
    text-align: center;
    margin: 70px 0 0 0;
}

#loginContainer label {
    color: white;
    margin: 50px 30px 0 30px;
}

#loginContainer input {
    color: white;
    margin: 10px 30px 0 30px;
    height: 40px;
    border-radius: 5px;
    border: 0;
    text-indent: 10px;
    background-color: #90909010;
}

#loginContainer input::placeholder {
    color: #aaa;
}

#loginContainer input:focus {
    outline: none;
}

#loginButton {
    height: 50px;
    background-color: white;
    border: 0;
    border-radius: 5px;
    font-size: large;
    color: #333;
    font-weight: 600;
    margin: 50px 30px 0 30px;
}

#snsLoginContainer {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.snsLoginButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    height: 40px;
    background-color: #bfbfbf10;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

#googleLoginButton {
margin: 30px 10px 30px 30px;
}

#facebookLoginButton {
margin: 30px 30px 30px 10px;
}

.snsLoginButton img {
    width: 15px;
}

#backgroundDesign1 {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, rgb(74, 74, 205), rgb(18, 18, 50)); 
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-150%, -170%)
}

#backgroundDesign2 {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, rgb(190, 111, 45), rgb(243, 159, 49)); 
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(30%, 80%);
}