html {
    background: linear-gradient(
        to bottom, 
        #0d001f,
        #1e0146 50%,
        #0d001f );
    margin: 0;
    padding: 0;
    height: 100%;
}
#signUpContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    width: 20%;
    min-width: 300px;
    transform: translate(-50%, -50%);
    background: linear-gradient(
    to bottom, 
    #160035,
    #250059 50%,
    #160035 );
    box-shadow: 0px 10px 20px 10px #00000090;
    border-radius: 10px;
}

#signUpContainer h1 {
    color: white;
    margin-top: 60px;
}

#signUpContainer input {
    height: 40px;
    background-color: #eee;
    margin: 20px 60px 0 60px;
    border: 0;
    border-radius: 5px;
    text-indent: 10px;
}

#signUpContainer #signupButton {
    height: 40px;
    background-color: #7123b9;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    margin: 20px 70px 0 70px;
}

#signUpContainer #loginButton {
    height: 60px;
    margin: 40px 0 0 0;
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0;
    /* font-size: 20px;
    font-weight: bold;
    color: #7123b9; */
    background-color: #eee;
}

#signUpContainer #loginButton p {
    font-size: 20px;
    font-weight: bold;
    color: #7123b9;
}